.public-projects-container {
  width: 90%;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

.project-card {
  background-color: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  position: relative;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card h2 {
  color: #333;
  font-size: 20px;
  margin: 0;
}

.project-card p {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 5px;
}

.project-card a, .pdf-buttons a, .btn-download a, .btn-read a, .pdf-viewer a, .menuedit a {
  display: inline-block;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.project-card a:hover, .pdf-buttons a:hover, .btn-download:hover, .btn-read:hover, .menuedit:hover {
  background-color: #0056b3;
}

.authors ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

.authors li {
  padding: 2px 0;
}

.menuedit {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-icon {
  cursor: pointer;
  color: #007BFF;
  font-size: 24px;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.pdf-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.btn-download {
  background-color: #4CAF50;
}

.btn-read {
  background-color: #008CBA;
}
.container {
  display: flex;
  width: 50%; /* Set the container width to 50% */
  margin: 0 auto; /* Center the container horizontally */
}

.sidebar {
  width: 250px; /* Adjust width as necessary */
  height: 100vh; /* Full height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.content {
  flex-grow: 1; /* Take up the remaining space */
  padding: 1px 16px;
  height: 1000px; /* Sample height */
}