<app-sidebar></app-sidebar>
<div *ngIf="project" class="project-card">
  <div class="project-header">
    <h1>{{ project.title }}</h1>
    <button (click)="setActiveProject(project)">
      {{ activeProject?.projectId === project.projectId ? 'Close PDF' : 'View PDF' }}
    </button>
  </div>
  <p>{{ project.description }}</p>

  <div *ngIf="project.authors && project.authors.length > 0" class="authors">
    <h3>Authors:</h3>
    <ul>
      <li *ngFor="let author of project.authors">
        <img [src]="author.imageUrl" alt="{{ author.firstName }} {{ author.lastName }}" class="user-image">
        <div>
          <strong>{{ author.firstName }} {{ author.lastName }}</strong>
        </div>
      </li>
    </ul>
  </div>

  <div class="pdf-actions">
    <div class="pdf-buttons">
      <img *ngIf="activeProject?.pdfThumbnailUrl" [src]="activeProject?.pdfThumbnailUrl" alt="PDF Thumbnail" class="pdf-thumbnail">
      <div class="pdf-buttons-container">
        <a *ngIf="activeProject?.pdfUrl" [href]="activeProject?.pdfUrl" class="btn-download" download>Download full-text PDF</a>
        <a *ngIf="activeProject?.pdfUrl" [href]="activeProject?.pdfUrl" class="btn-read" target="_blank">Read full-text</a>
      </div>
    </div>
  </div>

  <iframe *ngIf="activeProject?.pdfUrl" [src]="activeProject?.pdfUrl | safeUrl" class="pdf-viewer" type="application/pdf"></iframe>
</div>
