.project-card {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
  width: 50%;
  margin-left: 535px;
  transition: transform 0.3s ease;
}
.project-card:hover {
  transform: translateY(-10px);
}
.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.project-header h1 {
  color: #333;
  font-size: 24px;
  margin: 0;
}

.project-header button {
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.project-header button:hover {
  background-color: #0056b3;
}

.project-card p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

.authors {
  margin-top: 20px;
}

.authors h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.authors ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.authors li {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.authors li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.authors li div {
  display: flex;
  flex-direction: column;
}

.authors li div strong {
  color: #333;
  font-size: 16px;
}

.authors li div span {
  color: #666;
  font-size: 14px;
}

.pdf-actions {
  margin-top: 20px;
}

.pdf-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.pdf-thumbnail {
  width: 100px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pdf-buttons-container {
  display: flex;
}
container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-download, .btn-read {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .btn-download {
    background-color: #4CAF50;
    }
    .btn-download:hover {
    background-color: #45a049;
    }
    .btn-read {
    background-color: #008CBA;
    }
    .btn-read:hover {
    background-color: #007bb5;
    }
    .pdf-viewer {
    width: 100%;
    height: 500px;
    border: none;
    margin-top: 20px;
    }
