<div class="request-list">
  <h2>Liste des événements</h2>
  <div>
    <!-- Only show the button if the user's role is 'chercheur' -->
    <button class="btn btn-primary top-button" *ngIf="(isChercheur$ | async)" (click)="navigateToAddRequest()">Déposer une demande</button>
    <app-sidebar></app-sidebar>
  </div>
  <div *ngIf="!loading">
    <table class="table table-hover request-table">
      <thead>
        <tr>
          <th scope="col">Nom de l'événement</th>
          <th scope="col">Date de l'événement</th>
          <th scope="col">Lieu de l'événement</th>
          <th scope="col">Nombre de participants à l'événement</th>
          <th scope="col">Heure de l'événement</th>
          <th scope="col">Action sur l'événement</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of (requests | async) || []">
          <td>{{ request.nomEven }}</td>
          <td>{{ request.date }}</td>
          <td>{{ request.lieu }}</td>
          <td>{{ request.nombreParticipants }}</td>
          <td>{{ request.heure }}</td>
          <td>
            <button class="btn btn-success" (click)="acceptRequest(request.id)" style="margin-right: 8px; background-color: green;"><span class="text">Accepter</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 11.5l3 3 7-7-1.5-1.5-5.5 5.5-1.5-1.5z"/></svg></span></button>
            <button class="noselect" (click)="declineRequest(request.id)"><span class="text">Refuser</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="loading" class="spinner-container">
    <!-- Bootstrap spinner with specific color and mode -->
    <div class="spinner-border text-accent" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

