<div id="profile" [ngClass]="{'active' : show,'idle':!show}">
  <div id="profile-content">
    <input #nameInput placeholder="Name">
    <textarea #descriptionInput placeholder="Description"></textarea>
    <div class="file-input-container">
      <label for="image-upload" class="file-input-label">
        <i class="material-icons">image</i>
        <span>Choose Image</span>
      </label>
      <input #imageInput id="image-upload" type="file" (change)="onImageSelected(imageInput)" accept="image/*" class="form-control-file">
    </div>
    <button (click)="onContinueClick(nameInput, descriptionInput, imageInput)" mat-flat-button color="warn">Continue</button>
  </div>
</div>
