<nav class="sidebar">
  <div class="profile-center">
    <a href="/profil">
      <img
        alt="Image placeholder"
        *ngIf="userProfileData?.imageUrl"
        [src]="userProfileData?.imageUrl"
        class="avatar-img"
      >
    </a>
    <span class="mb-0 text-sm font-weight-bold">{{ userProfileData?.firstName }}</span>
  </div>

  <!-- <div class="container-fluid">
   
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="https://www.creative-tim.com/product/argon-dashboard" target="_blank"></a>
    
    <ul class="navbar-nav align-items-center d-none d-md-flex">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" *ngIf="userProfileData?.imageUrl" [src]="userProfileData?.imageUrl" >
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">{{userProfileData?.firstName}} {{userProfileData?.lastName}}</span>
            </div>
          </div>

    </ul>
  </div> -->
  <!-- <a href="#" class="logo">ExploraLab</a> -->

  <div class="menu-content">
    <ul class="menu-items">
      <div class="menu-title">Dashboard</div>

      <li class="item">
        <a routerLink="/gestion-chercheur"><i class="fas fa-search"></i> Gestion Chercheur</a>
      </li>

      <li class="item">
        <a routerLink="/gestion-projet"><i class="fas fa-project-diagram"></i> Gestion Projet</a>
      </li>

      <li class="item">
        <a routerLink="/showRequest"><i class="fas fa-calendar-alt"></i> Gestion Event</a>
      </li>

      <li class="item">
        <a routerLink="/postfeed"><i class="fas fa-newspaper"></i> Gestion Post</a>
      </li>

      <div class="separator"></div>

      <li class="item">
        <a href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar">
  <i class="fa-solid fa-bars" id="sidebar-close"></i>
</nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

