<nav class="sidebar">
  <div class="profile-center">
    <a href="/profil">
      <img
        alt="Image placeholder"
        *ngIf="userProfileData?.imageUrl"
        [src]="userProfileData?.imageUrl"
        class="avatar-img"
      >
    </a>
    <span class="mb-0 text-sm font-weight-bold">{{ userProfileData?.firstName }}</span>
  </div>
  <div class="menu-content">
    <ul class="menu-items">
      <div class="menu-title">Dashboard</div>

      <li class="item">
        <a routerLink="/gestion-chercheur"><i class="fas fa-search"></i> Gestion Chercheur</a>
      </li>

      <li class="item">
        <a (click)="toggleDropdown()"><i class="fas fa-project-diagram"></i> Gestion Publication</a>
        <div *ngIf="isDropdownOpen" class="dropDown">
          <a routerLink="/gestion-projet" >Ajouter Publication</a>
          <a routerLink="/listprojet">List Publication</a>
          <a routerLink="/projet-public">Publication Public</a>
        </div>
      </li>

      <li class="item" *ngIf="userProfileData?.role === 'chef laboratoire'">
        <a routerLink="/showRequest"><i class="fas fa-calendar-alt"></i> Gestion Event</a>
      </li>
      <li class="item" *ngIf="userProfileData?.role === 'responsable universitaire'">
        <a routerLink="/showRequestrespo"><i class="fas fa-calendar-alt"></i> Gestion Event</a>
      </li>
      <li class="item" *ngIf="userProfileData?.role === 'chercheur'">
        <a routerLink="/event"><i class="fas fa-calendar-alt"></i> Ajouter event</a>
      </li>
      <li class="item">
        <a routerLink="/postfeed"><i class="fas fa-newspaper"></i> Gestion Publication</a>
      </li>

      <li class="item" *ngIf="userProfileData?.role === 'responsable universitaire'">
        <a routerLink="/ListUser"><i class="fas fa-newspaper"></i> Gestion Utilisateur</a>
      </li>
      <div class="separator"></div>

      <li class="item">
        <a href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar">
  <i class="fa-solid fa-bars" id="sidebar-close"></i>
</nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

