<nav class="sidebar">


  <a href="#" class="logo">ExploraLab</a>

  <div class="menu-content">
    <ul class="menu-items">
      <div class="menu-title">Dashboard</div>

      <li class="item">
        <a routerLink="/gestion-chercheur"><i class="fas fa-search"></i> Gestion Chercheur</a>
      </li>

      <li class="item">
        <a routerLink="/gestion-projet"><i class="fas fa-project-diagram"></i> Gestion Projet</a>
      </li>

      <li class="item">
        <a routerLink="/gestion-event"><i class="fas fa-calendar-alt"></i> Gestion Event</a>
      </li>

      <li class="item">
        <a routerLink="/postfeed"><i class="fas fa-newspaper"></i> Gestion Post</a>
      </li>

      <div class="separator"></div>

      <li class="item">
        <a href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar">
  <i class="fa-solid fa-bars" id="sidebar-close"></i>
</nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

