/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
}

/* Sidebar Component Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 16rem;
  background-color: #1a202c;
  padding: 1rem;
  z-index: 99;
}

.profile {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.profile .username {
  font-weight: bold;
  color: #fff;
}

.logo {
  font-size: 1.6rem;
  padding: 0 1rem;
  color: #fff;
}

.menu-content {
  position: relative;
  height: calc(100% - 100px); /* Adjust height according to the profile height */
  width: 100%;
  overflow-y: auto;
}

.menu-items {
  list-style: none;
  transition: all 0.4s ease;
}

.menu-title {
  color: #fff;
  font-size: 1rem;
  padding: 1.6rem 2rem;
}

.item a,
.submenu-item {
  padding: 1.6rem;
  display: inline-block;
  width: 100%;
  border-radius: 1.2rem;
}

.item i {
  font-size: 1rem;
}

.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}

.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 2.6rem);
  height: calc(100% + 100vh);
  background: #1a202c;
  display: none;
}

.show-submenu ~ .submenu {
  display: block;
}

.submenu .menu-title {
  border-radius: 1.2rem;
  cursor: pointer;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
}
