.request-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content vertically */
}

.request-table {
  width: 80%; /* Adjusted width */
  margin: 0 auto; /* Centering the table */
  border-collapse: collapse;
  display: contents;
}

.request-table th,
.request-table td {
  padding: 15px; /* More padding for better spacing */
  text-align: left;
  border-bottom: 2px solid #eaeaea; /* Lighter border for subtlety */
}

.request-table th {
  background-color: #007BFF; /* Updated to a more vibrant header color */
  color: white;
  font-size: 16px; /* Larger font for better readability */
}

.request-table tr:hover {
  background-color: #f0f0f0; /* Softer hover color */
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .request-table th, .request-table td {
    display: block;
    text-align: right; /* Align text to the right for consistency */
  }

  .request-table td {
    text-align: left; /* Text align left for data cells */
    padding-left: 50%; /* More padding for label visibility */
    position: relative;
  }

  .request-table td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    font-weight: bold;
    color: #666; /* Darker text for the label */
  }

  .request-table tr {
    border-bottom: 1px solid #ddd;
  }
}

.yellow-text {
  color: orange;
}

.green-text {
  color: #28a745; /* Updated green color for better visibility */
}

.red-text {
  color: #dc3545; /* Updated red color for better visibility */
}

.mat-elevation-z8 {
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Centers the table horizontally */
  overflow-x: auto; /* Handles overflow for smaller screens */
}
button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
 }

 button, button span {
  transition: 200ms;
 }

 button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }

 button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 button svg {
  width: 15px;
  fill: #eee;
 }

 button:hover {
  background: #ff3636;
 }

 button:hover .text {
  color: transparent;
 }

 button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }

 button:focus {
  outline: none;
 }

 button:active .icon svg {
  transform: scale(0.8);
 }
