.container {
  padding: 20px;
  margin: 20px auto;
  max-width: 100%;
  width: 90%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #fff; /* Added a background color for better contrast */
}

.request-list {
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 10px;
}

.table-container {
  overflow-x: auto;
  border-radius: 8px;
  background-color: #f9f9f9; /* Light background for the table container */
}

.table-scroll {
  overflow-y: auto;
}

.request-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.request-table th,
.request-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}

.request-table th {
  background-color: #e3f2fd;
  font-weight: bold;
  color: #333;
}

.request-row {
  transition: background-color 0.3s;
}

.request-row:hover {
  background-color: #e1f5fe;
}

.actionevent {
  width: 100%; /* Full width on mobile */
}

.spinner-container {
  text-align: center;
  margin-top: 20px;
}

.spinner-container mat-progress-spinner {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 800px; /* Fixed max width for laptops and above */
  }

  .actionevent {
    width: 30%; /* Original width for non-mobile devices */
  }
}
