<mat-card>
  <mat-card-header>
    <mat-card-title>Update Post</mat-card-title>
  </mat-card-header>
  <div>
    <textarea id="comment" [(ngModel)]="data.comment" placeholder="Type Message..." [ngModelOptions]="{standalone: true}"></textarea>
  </div>
  <div *ngIf="imageUrl" id="post-preview">
    <img id="post-preview-image" [src]="imageUrl" />
  </div>
  <div *ngIf="pdfUrl" id="post-preview">
    <i class="material-icons pdf-preview-icon">picture_as_pdf</i>
    <span>{{ pdfUrl }}</span>
  </div>
  <mat-card-actions align="end">
    <button mat-button color="primary">
      <label for="image-upload">
        <input #imageSelector (change)="onPhotoSelected($event)" id="image-upload" type="file" accept="image/*" />
        <mat-icon>insert_photo</mat-icon>
      </label>
    </button>
    <button mat-button color="primary">
      <label for="pdf-upload">
        <input #pdfSelector (change)="onPdfSelected($event)" id="pdf-upload" type="file" accept=".pdf" />
        <mat-icon>picture_as_pdf</mat-icon>
      </label>
    </button>
    <button (click)="onUpdatePost(data)" mat-flat-button color="primary">Update</button>
    <button (click)="onCancel()" mat-flat-button color="warn">Cancel</button>
  </mat-card-actions>
</mat-card>
