<div id="sidebar">
  <app-sidebar></app-sidebar>
</div>
<div class="main-container">
  <div class="table-wrapper">
    <table class="user-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Laboratoire</th>
          <th>Rôle</th>
          <th>Spécialisation</th>
          <th>Université</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td><img [src]="user.imageUrl" class="user-image" alt="Image Utilisateur" /></td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.lab }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.specialization }}</td>
          <td>{{ user.university }}</td>
          <td>
            <button mat-icon-button (click)="deleteUser(user)">
              <mat-icon style="color: red;">delete</mat-icon>
            </button>
          </td>
          <td>
            <button mat-icon-button (click)="modifyUser(user)">
              <mat-icon style="color: green;">edit</mat-icon>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
