<div id="sidebar">
  <app-sidebar></app-sidebar>
</div>
<div class="main-container">
  <div class="table-wrapper">
    <table class="user-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Lab</th>
          <th>Role</th>
          <th>Specialization</th>
          <th>University</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td><img [src]="user.imageUrl" class="user-image" alt="User Image" /></td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.lab }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.specialization }}</td>
          <td>{{ user.university }}</td>
          <!-- <td>
            <button (click)="deleteUser(user)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
          <td>
            <button (click)="modifyUser(user)">
              <i class="fas fa-edit"></i>
            </button>
          </td>   -->
          <td>
            <button mat-icon-button (click)="deleteUser(user)">
              <mat-icon style="color: red;">delete</mat-icon>
            </button>
          </td>
          <td>
            <button mat-icon-button (click)="modifyUser(user)">
              <mat-icon style="color: green;">edit</mat-icon>
            </button>
          </td>
                  
        </tr>
      </tbody>
    </table>
  </div>
</div>
