<app-sidebar></app-sidebar>
<div class="container">
  <div class="main-content">
    <div *ngFor="let project of projects" class="project-card">
      <div class="menuedit" style="position: relative; z-index: 1000; display: flex; flex-direction: row-reverse;">
      <mat-icon class="menu-icon" *ngIf="project.postedBy === currentUserId"(click)="openProjectMenu(project)" style="transform: rotate(90deg);">more_vert</mat-icon>
      </div>
      <h1>{{ project.title }}</h1>
      <p class="date">
        {{ convertTimestampToDate(project.date) | date : "MMMM-dd-yyyy" }}
      </p>
      <p>{{ project.description }}</p>
      <div class="authors">
        Authors:
        <div *ngFor="let author of project.authors" class="author">
          <img [src]="userProfileData?.imageUrl" alt="{{ userProfileData?.firstName }}" />
          <p>
            {{ userProfileData?.firstName }} {{ userProfileData?.lastName}}<br/>{{ userProfileData?.university }}
            <div>
              <img [src]="project.authors[0].imageUrl" alt="{{ project.authors[0].firstName }}"style="width: 50px; height: 50px" />
              <p><strong></strong>{{ getAuthorsEmails(project) }}</p>
            </div>
        </div>
        <div class="buttons" style="
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 18%;
    ">
          <button (click)="downloadProject(projects[0].pdfUrl || '')">Download file PDF</button>
          <button (click)="setActiveProject(project)">{{ activeProject?.projectId === project.projectId ? 'Close PDF' : 'View PDF' }}</button>
        </div>
          <iframe *ngIf="activeProject && activeProject.pdfUrl" [src]="activeProject.pdfUrl | safeUrl" style="width:100%; height:500px;" type="application/pdf"></iframe>
      </div>
    </div>
  </div>
</div>


